body {
  height: 100vh;
}

.bg-color {
  --bs-bg-opacity: 0.2 !important;
  background-color: rgba(140, 130, 252, var(--bs-bg-opacity)) !important;
}
.bg-color-2 {
  --bs-bg-opacity: 0.2 !important;
  background-color: rgba(126, 255, 219, var(--bs-bg-opacity)) !important;
}

.clr-btn {
  height: 40px;
  width: 40px;
}

.container-filter {
  height: 100vh;
  width: 100vw;
}
