.light-bg {
  background-color: #98bcdb !important;
}

.today {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  left: 12px;
  width: 100%;
}
.today-dark {
  background-color: #6a869e !important;
}
.mycard {
  background-color: #98bcdb !important;
}

.heat {
  font-size: 50px;
}
.deg {
  font-size: 30px;
  color: rgb(118, 119, 119);
}
.round-cont-bot {
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.round-cont-top {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
}

#root {
  margin-top: 50px;
}
