.name {
  font-size: 22px;
  font-weight: 700;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
div {
  display: block;
}

.sitelink {
  text-decoration: none;
  color: #333;
  font-size: 30px;
  font-weight: 700;
}

.sitelink:hover {
  color: black;
}

.gitlink {
  color: #333;
  font-size: 15px !important;
}

.header {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.container {
  max-width: 1000px !important;
}

.bill-gates {
  padding: 30px 20px !important;
}

.bg-color {
  background: #fefefe;
}

.money {
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  padding: 20px;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: #fefefe;
}

.img {
  display: block;
  margin: 15px auto;
  height: 120px;
  max-width: 100%;
}

.price {
  font-size: 20px;
  color: #24c486;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-sell {
  background: linear-gradient(180deg, #f53b82, #f53b57);
}

.btn-buy {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

.button {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-size: 16px;
  text-align: center;
}
.button:disabled {
  background: #f1f2f6 !important;
  border: none;
  color: #333;
  cursor: auto;
  touch-action: manipulation;
}

.input {
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #b2bec3;
  color: #333;
  font-family: Roboto, sans-serif;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  text-align: center;
}
.inputs {
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  margin-top: 25px;
}

.mycard {
  padding: 20px 15px;
}

.receipt {
  font-size: 28px;
  font-weight: 700;
}

.receipt-items {
  max-width: 290px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-gap: 10px 0;
  font-size: 18px;
  grid-template-columns: 170px 45px 75px;
}

.receipt-name {
  text-align: left;
  text-overflow: ellipsis;
}

.receipt-amount {
  text-align: left;
}

.receipt-cost {
  color: #24c486;
  text-align: right;
  font-weight: 700;
}

.products {
  margin-bottom: 50px !important;
}

.receipt-total {
  font-weight: 700;
  max-width: 300px;
  border-top: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px !important;
}

.total-money {
  color: #24c486;
  text-align: right;
}
