/****************** HEADER ******************/
.header-logo {
  margin: 1%;
  float: left;
  height: 25%;
  width: 15%;
  border-radius: 50%;
}

.def-text {
  font-size: 300%;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

header {
  background-color: white;
  color: rgb(100, 78, 123);
  position: relative;
}

.background-image {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  backdrop-filter: blur(10px);

  /* Full height */
  
  position:absolute;
  
  /* Center and scale the image nicely */

 
}

.nav-element {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  float: left;
  margin: 10px;
  position: relative;
}

nav {
  overflow: visible;
  background-color: white;
  position: relative;
}

a {
  color: rgb(100, 78, 123);
  text-decoration: none;
}

.container {
  
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  float: left;
  margin: 20px;
  position: relative;
}


.product {
  
  width: 300px;
  height: 300px;
}

.container-text {
  font-size: 150%;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  float: left;
  margin-left: 25%;
  position: relative;
  align-self: center;
  width:50%;
}
article {
  margin-left: 30%;
  position: relative;
  margin: 7%;
}

footer {
  padding: 1%;
  float:left;
  width:100%;
  background-color:rgb(100, 78, 123);
  
}
